#ourFriends {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #F6F6F6;
}

#ourFriends > h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 2.4em 0 1.1em 0;
  color: #545454;
}

#menu > li > a {
  color: #545454;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  display: none;
}

.paginator {
  margin: 0 auto;
}

.pagination, .pages {
  display: flex;
  margin: 0 0 3em 0;
}

.pages > span {
  line-height: 3rem;
}

.interactiveBtn, .disabled {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  margin: 0 0.7em 7em 0.7em;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.interactiveBtn {
  border: 2px solid #F1CDB3;
  color: #292929;
}

.selected {
  background-color: #F1CDB3 !important;
}

.disabled {
  border: 2px solid #CDCDCD !important;
  color: #CDCDCD !important;
}

@media (max-width: 768px) {
  #card:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 320px) {
  .menu__btn > #partOfBurger,
  .menu__btn > #partOfBurger::before,
  .menu__btn > #partOfBurger::after {
  background-color: #292929;
  }
  #ourFriends > h3 {
    font-size: 25px;
  }
  .pages > li > a > button {
    margin: 0 0.2em 0 0;
  }
  #card:nth-last-child(-n+5) {
    display: none;
  }
}